header {
    text-align: center;
    font-size: 50px;
    padding: 50px;
    position: relative;
    left: 50px;
    font-family: 'Playfair Display', serif;
}

body {
    font-family: 'EB Garamond', serif;
    font-size: 20px;
}

.logo {
    width: 200px;
    height: 200px;
    position: relative;
    right: 800px;
}

.cat {
    width: 900px;
    height: 500px;
    position: relative;
    left: 150px;
}